*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    border: 0.5px solid rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    margin: 50px 275px;
    border-radius: 10px;
}
main:hover{
   box-shadow: 0px 0px 20px rgb(129, 127, 127) ;
}
#image{
    width: 350px;
}
img{
    width: 100%;
}
#maincontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#maincontainer p{
    font-size: 23px;
}
#content h1,p{
    margin: 20px;
}
#content p{
    font-size: 23px;
}
#remove{
    padding: 15px 30px;
    font-size: 26px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    margin: 0px 10px 0px 50px;
}
#remove:hover{
    box-shadow: 0px 0px 10px red;
}
#totalPrice{
    text-align: end;
    margin: 50px 275px;
}