*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: lightgrey;
    margin: 10px 0px;
}
.card{
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0px 0px 5px grey;
    border-radius: 12px;
}
#formContainer{
    display: block;
}
input,button{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    margin: 12px 0px;
}
button{
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
}
#footer-text{
    text-align: center;
}
#errorMail{
    color: red;
    text-align: end;
    margin-top: 10px;
}
