*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#productDetails{
    /* border: 1px solid black; */
    padding: 30px;
    margin:10px auto 0px;
    width: 800px;
    background-color: rgb(239, 238, 238);
}
#productDetails main #container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#productDetails>main img{
    height: 330px;
    width: 400px;
}
h3{
    font-size: 20px;
}
#productDetails>main #content p{
    margin-top: 20px;
    font-size: 16px;
}
button{
    padding:10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}
#cart{
    background-color: blue;
}
#home{
    background-color: red;
}
#line{
    border-bottom: 2px solid lightgrey;
}
#review #gap{
    margin: 15px 0px;
}